* {
  margin: 0;
  padding: 0;
}
embed:nth-of-type(1) {
  width: 100%;
  height: 581px;
  display: block;
}
.caoti {
  font-family: Segoe Script;
  font-size: 36px;
  color: #edbf24;
}
body > img {
  width: 100%;
}
.body {
  width: 1200px;
  margin: 0 auto;
}
.body-1 {
  display: flex;
  padding-top: 120px;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
.body-1 section {
  width: 600px;
  padding-bottom: 120px;
}
.body-1 section img:nth-of-type(1) {
  margin-left: 268px;
}
.body-1 section img:nth-of-type(2) {
  margin-left: 244px;
  padding: 60px 0 120px 0;
}
.body-1 section img:nth-of-type(3) {
  width: 600px;
  height: 400px;
}
.body-1 section p {
  padding: 0 65px;
  font-family: SC-Medium;
  font-size: 18px;
  line-height: 40px;
}
.body-1 section p:nth-of-type(1) {
  font-family: Segoe Script;
  font-size: 36px;
  color: #edbf24;
  text-align: center;
}
.body-1 section p:nth-of-type(2) {
  font-size: 36px;
  text-align: center;
}
.body-2 {
  width: 100%;
  background-color: #313131;
  padding: 120px 0;
}
.body-2 p {
  font-family: SC-Medium;
  color: #fdfcfc;
  font-size: 18px;
}
.body-2 > p:nth-of-type(1) {
  font-family: Segoe Script;
  font-size: 36px;
  color: #edbf24;
  text-align: center;
}
.body-2 > p:nth-of-type(2) {
  font-size: 30px;
  text-align: center;
}
.body-2 > img {
  display: block;
  width: 50px;
  margin: 0 auto;
}
.lunbo {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}
.lunbo > p {
  width: 30px;
  height: 30px;
  border: 2px solid #fdfcfc;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 150px;
  z-index: 3;
}
.lunbo > p:hover {
  background-color: white;
  color: #313131;
}
.lunbo > p:nth-of-type(1) {
  left: 0;
}
.lunbo > p:nth-of-type(2) {
  right: 0;
}
.lunbo section {
  position: relative;
  margin: 50px 66px 0 66px;
  height: 170px;
  border: 2px solid #fdfcfc;
}
.lunbo section p {
  padding-top: 50px;
}
.lunbo section pre {
  width: 464px;
  font-family: SC-Medium;
  color: #fdfcfc;
  font-size: 18px;
}
.lunbo section div {
  position: absolute;
  right: 40px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.lunbo section div img {
  width: 100px;
}
.lunbos {
  display: flex;
  position: relative;
  left: 0;
}
.csp {
  float: right;
}
.csimg {
  left: 40px;
}
.body-3 {
  width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
}
.body-3 p {
  text-align: center;
  font-family: SC-Medium;
  font-size: 36px;
}
.body-3 p:nth-of-type(1) {
  font-family: Segoe Script;
  font-size: 36px;
  color: #edbf24;
}
.body-3 p:nth-of-type(3) {
  font-size: 24px;
  padding-top: 90px;
}
.body-3 > img {
  display: block;
  width: 64px;
  margin: 0 auto;
}
.body-3 figure {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-top: 320px;
}
.body-3 figure img {
  width: 600px;
  height: 400px;
  vertical-align: top;
}
.body-3 figure img:nth-of-type(1) {
  position: absolute;
  left: 300px;
  top: 0;
}
/*# sourceMappingURL=food.css.map */